{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<div class="container">
    <h2>Noticias informatica:</h2>
    <br>
    <br>
    <!-- CARDS -->
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Noticia 1</h5>
              <hr>

            <p class="card-text">Hola este es una noticia en el cual subiremos frecuentemente noticias relacionadas a nuestras plataformas</p>
            <a href="#" class="btn btn-success">Ver mas</a>
          </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Noticia 2</h5>
          <hr>
        <p class="card-text">Hola este es una noticia en el cual subiremos frecuentemente noticias relacionadas a nuestras plataformas.</p>
        <a href="#" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <br>
    <br>
    <!-- CARDS -->
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Noticia 3</h5>
              <hr>
            <p class="card-text">Hola este es una noticia en el cual subiremos frecuentemente noticias relacionadas a nuestras plataformas</p>
            <a href="#" class="btn btn-success">Ver mas</a>
          </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Noticia 4</h5>
          <hr>
        <p class="card-text">Hola este es una noticia en el cual subiremos frecuentemente noticias relacionadas a nuestras plataformas.</p>
        <a href="#" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>