{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<div class="container">
    <h2>Noticias informatica:</h2>
    <br>
    <br>
    <!-- CARDS -->
    <div class="col-12">
        <div class="card" style="width: 18rem;">
            <img src="{% static '/img/solicitud.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="card" style="width: 26rem;">
        <img src="{% static '/img/solicitud.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{% static '/img/solicitud.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
</div>
</div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Noticia 4</h5>
          <hr>
        <p class="card-text">Hola este es una noticia en el cual subiremos frecuentemente noticias relacionadas a nuestras plataformas.</p>
        <a href="#" class="btn btn-success">Ver mas</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>