{% include 'baseti.html' %}
{% load static %}
{% load crispy_forms_tags %}
<br>
<br>
     <!-- ALERTAS DASHBOARD -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-info shadow" id="total_listarasignaciones" style="border: none;">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #318497">Total usuarios</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #318497">{{ total_listarasignaciones }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-dark shadow" id="total_equipos" style="border: none">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #6B6B6B">Total equipos</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #6B6B6B">{{ total_equipos }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-success shadow" id="total_monitores" style="border: none">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #51876E">Total de monitores</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #51876E">{{ total_monitores }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-success shadow" id="total_perisfericos" style="border: none">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #51876E">Total de perifericos</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #51876E">{{ total_perifericos }}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<br>
<br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
            <h5 class="text-center">LISTADO DE USUARIOS </h5>
                <br>
                <div class="card card-body shadow">
                    <br>
                    <td><a class="btn btn-success btn-lg" href="{% url ' asignacion' %}">Asignar</a></td>
                    <br>
                    <div class="row">
                        <div class="col">
                            <br>
                            <form class="form-inline">
                                {{filtro.form | crispy }}
                            </form>
                            <br>
                        </div>
                    </div>
                    <!--TABLA USUARIOS REGISTRADOS -->
                    <table class="table table-sm text-center">
                        <tr>
                            <th>Nombre </th>
                            <th>Departamento</th>
                            <th>Equipos</th>
                            <th>Monitores</th>
                            <th>Perifericos</th>

                        </tr>
                            {% for asignacion in listar_asignaciones %}
                        <tr>
                            <td>{{ asignacion.usuarios}}</td>
                            <td>{{ asignacion.departamentos }}</td>
                            <td>{{ asignacion.equipo }}</td>
                            <td>{{ asignacion.monitor }}</td>
                            <td>{{ asignacion.periferico }}</td>

                            <td><a class="btn btn-success" href="{% url 'modificarasignacion' asignacion.id %}">Modificar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminarasignacion' asignacion.id %}">Eliminar</a>
                        </tr>
                        {% endfor %}
                    </table>
                <!--FIN TABLA USUARIOS REGISTRADOS -->
                </div>
            </div>
        </div>
    </div>
<br>
<br>

