{%  include 'baseti.html' %}
{% load static %}
<br>
<br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
            <h5 class="text-center">LISTADO DE MONITORES</h5>
                <br>
                <div class="card card-body shadow">
                    <td><a class="btn btn-success btn-lg" href="{% url 'monitores' %}">Agregar Monitores</a></td>
                    <div class="row">
                        <div class="col">
                            <br>
                            <br>
                            <form class="form-inline">
                                <input class="form-control" type="search" placeholder="Busqueda" aria-label="Search" name="search">
                            </form>
                        </div>
                    </div>
                    <!--TABLA USUARIOS REGISTRADOS -->
                    <table class="table table-sm text-center">
                        <tr>
                            <th>Codigo</th>
                            <th>Num serie</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                        </tr>

                            {% for l in listar %}
                        <tr>
                            <td>{{ l.codigo }}</td>
                            <td>{{ l.serieproducto }}</td>
                            <td>{{ l.marca }}</td>
                            <td>{{ l.modelo }}</td>
                            <td>{{ l.estado }}</td>
                            <td>{{ l.observaciones }}</td>

                            <td><a class="btn btn-success" href="{% url 'modificarequipos' l.id %}">Modificar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminarequipos' l.id %}">Eliminar</a>
                        </tr>
                             {% endfor %}
                    </table>
                <!--FIN TABLA USUARIOS REGISTRADOS -->
                </div>
            </div>
        </div>
    </div>
<br>
<br>